<div class="container-flwid footer">
    <div class="row">
        <div class="col-lg=6">
            <h1 class="text-center">REDES SOCIAIS</h1>
            <p class="text-center"><br>Copyright: Luís Eduardo</p>
          
        <div class="d-flex justify-content-center footer">
            <a href="https://pt-br.facebook.com/" target="blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" target="blank"><i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com/" target="blank"><i class="bi bi-twitter"></i></a>
    </div>
</div>
