<div class="container-flwid footer">
    <div class="row">
        <div class="col-lg=6">
            <h1 class="text-center">CONTATO</h1>
            <p>ENTRE EM CONTATO:lalune.macaroni@gmail.com</p>

        <div class="col-lg=12">
            <a href="https://pt-br.facebook.com/" target="blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" target="blank"><i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com/" target="blank"><i class="bi bi-twitter"></i></a>
    </div>
</div>
