<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LA LUNE ITALIAN MACARONI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link"></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link"><img src="assets/icons/delivery.svg" width="15px"></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link"><img src="assets/icons/carrinho.svg" width="15px" ></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link"><img src="assets/icons/contato.svg" width="15px"></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link"><img src="assets/icons/pagamento.svg" width="15px"></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sobre
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Quem somos</a></li>
              <li><a class="dropdown-item" href="#">Trabalhe conosco</a></li>
              <li><hr class="dropdown-divider"></li>
             
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisa</button>
        </form>
      </div>
    </div>
  </nav>
