<div class="container mt-5 mb-5">
  <h1 class="text-center">NOSSOS CONTATOS</h1>
  <p> Avenida São João, 224 - Jardim Esplanada,<br> São José dos Campos - SP, 12242-840
  </p>

  <div class="maps">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.2258591406344!2d-45.90189058445159!3d-23.19843815417619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a734c647d67%3A0x81a76cf6f56a8bc8!2sHaruf%20Kebabs%20e%20Especialidades%20%C3%81rabes!5e0!3m2!1spt-BR!2sbr!4v1659360714958!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
</div>

  <div class="duv">
    <h1 class="text-center">
      DÚVIDAS
    </h1>
  </div>

  <form action="">
    <div class="row">
      <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" placeholder="Digite seu nome">
        </div>

        <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" placeholder="Digite seu sobrenome">
      </div>

      <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" placeholder="Digite seu email">
      </div>

      <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" placeholder="Digite seu telefone">
      </div>

      <div class="col-lg-4 mt-2">
        <textarea class="form-control" placeholder="Escreva sua dúvida"></textarea><br>
      </div>

      <div class="col-lg-4 mt-2">
        <button class="btn btn-md btn-success mt-3">Enviar</button>
      </div>

      </div>
    </form>
    </div>




