<div class="container mt-5 mb-5">
  <h1 class="text-center">NOSSOS CONTATOS</h1>
  <p>Avenida São João, 254 - Jardim Esplanada <br>
    ENTRE EM CONTATO <br>
    lalune.macaroni@gmail.com

    TELEFONE: (12) 3999-999
  </p>

  <div class="duv">
    <h1 class="text-center">
      DÚVIDAS
    </h1>
  </div>

  <form action="">
    <div class="row">
      <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" placeholder="Digite seu nome">
        </div>

        <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" placeholder="Digite seu sobrenome">
      </div>

      <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" placeholder="Digite seu email">
      </div>

      <div class="col-lg-4 mt-2">
        <input type="text" class="form-control" placeholder="Digite seu telefone">
      </div>

      <div class="col-lg-4 mt-2">
        <textarea class="form-control" placeholder="Escreva sua dúvida"></textarea><br>
      </div>

      <div class="col-lg-4 mt-2">
        <button class="btn btn-md btn-success mt-3">Enviar</button>
      </div>

      </div>
    </form>
    </div>




