<div class="banner">
  <h1>LA LUNE ITALIAN MACARONI</h1>
  <h2>A TASTE OF ROMA</h2>

  <div class="content">
    <a routerLink="menu" class="mb-5">Peça já <i class="bi bi-arrow-right"></i></a>
  </div>
</div>

<div class="container mt-5 mb-4">
  <h1 class="text-center
    ">Pedidos da casa</h1>
  <div class="row">

    <div class="col-lg-4 mt-2">
      <div class="Box">
        <p><img src="assets/fettuccine-pasta-with-meatballs-in-tomato-sauce.jpg" width="400px"></p>
      </div>
    </div>

    <div class="col-lg-4  mt-2">
      <div class="Box">
        <p><img src="assets/frying-pan-spiral-macaroni-chicken-leg-meat.jpg" width="400px"></p>
      </div>
    </div>

    <div class="col-lg-4  mt-2">
      <div class="Box">
        <p><img src="assets/pasta-fettuccine-bolognese-with-tomato-sauce-in-white-bowl (1).jpg" width="400px"></p>
      </div>
    </div>

  </div>

</div>

<div class="rest">
  <h1 class="text-left">RESTAURANTE</h1>
  <p>A clássica cozinha italiana, ganha um toque contemporâneo da <br> La Luna Italy Bistro.
    As tradicionais massas frescas artesanais constam o menu,<br> elaborado com ingredientes selecionados e atenção aos detalhes. <br>
    O ambiente agradável e o serviço sofisticado dão o tom aos momentos no restaurante, <br> os sabores, os sentimentos,
    para que você possa ter um gostinho de Roma
    tornando-o <br> a opção perfeita para desfrutar de uma ótima gastronomia no almoço ou no jantar.<br></p>

</div>






