<div class="banner">
    <h1>LA LUNE ITALIAN MACARONI</h1>
    <h2>A TASTE OF ROMA</h2>

    <div class="content">
        <a routerLink="menu" class="mb-5">Peça já <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

<div class="step">

    <h1>Pedidos da casa</h1>

    <div class="row">
        <div class="Box">
            <div class="col-lg-4">
                <h1>1</h1>
                <p>Selecione</p>
            </div>

            <div class="col-lg-4">
                <h1>2</h1>
                <p>Preencha os detalhes</p>
            </div>

            <div class="col-lg-4">
                <h1>3</h1>
                <p>Acompanhamento</p>
            </div>

            <div class="col-lg-4">
                <h1>4</h1>
                <p>Retirada</p>
            </div>

        </div>

    </div>
</div>