<div class="banner">
  <h1>LA LUNE ITALIAN MACARONI</h1>
  <h2>A TASTE OF ROMA</h2>

  <div class="content">
    <a routerLink="menu" class="mb-5">Peça já <i class="bi bi-arrow-right"></i></a>
  </div>
</div>

<div class="container mt-5 mb-4">
  <h1 class="text-center
    ">Pedidos da casa</h1>
  <div class="row">

    <div class="col-lg-4 mt-2">
      <div class="Box">
        <p><img src="assets/fettuccine-pasta-with-meatballs-in-tomato-sauce.jpg" width="400px"></p>
      </div>
    </div>

    <div class="col-lg-4  mt-2">
      <div class="Box">
        <p><img src="assets/frying-pan-spiral-macaroni-chicken-leg-meat.jpg" width="400px"></p>
      </div>
    </div>

    <div class="col-lg-4  mt-2">
      <div class="Box">
        <p><img src="assets/pasta-fettuccine-bolognese-with-tomato-sauce-in-white-bowl (1).jpg" width="400px"></p>
      </div>
    </div>

  </div>

</div>

<div class="about">
  <a routerLink="about" class="mb-5">SOBRE<i class="bi bi-arrow-right"></i></a>
</div>

<div class="contato">
  <a routerLink="contact" class="mb-5">CONTATO<i class="bi bi-arrow-right"></i></a>
</div>





