@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

.banner{
  background-color: #f5f5db;
}

.foodbox{
  padding: 10px 5px;
  font-family: 'Hammersmith One', sans-serif; 
}

.foodbox img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.foodbox h1{
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.btn_pedido{
  color: rgb(231, 173, 66);
  background-color: black;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}



